/* styles.css */
.navbar-menu {
  display: flex;
  gap: 1rem;
}

.navbar-burger {
  display: none;
  cursor: pointer;
}

/* При ширине меньше 640px (примерно sm breakpoint) */
@media (max-width: 640px) {
  .navbar-menu {
    display: none; /* скрываем меню */
  }

  .navbar-burger {
    display: block; /* показываем бургер */
  }
}
